extends base.pug

block script
   script(src="/static/index.js")

block style 
   style 
      include ../static/styleAbout.css 


block content

     section#missionSection 
      h2 Our Mission
      div.card#perfection
        h3 Dance Perfection 
      div.card#choice  
        h3 Dance the way you like 
      div.card#experts 
        h3 Experts Teaching 
