doctype html 
html 
  head 
    title Kadam Dance Academy 
    block script 
    block style 
  body 
    nav#navbar  
      ul 
        div#logo 
            img(src="https://img.freepik.com/free-vector/hand-drawn-flat-dancer-silhouette_23-2149435553.jpg?size=626&ext=jpg&ga=GA1.1.1200972944.1703412248&semt=ais", alt="logo")
            | KDA
        li #[a(href = "/")  Home]
        li #[a(href = "/about")  About]
        li #[a(href = "/")  Services]
        li #[a(href = "/contact")  Contact Us]
        
    block content 
    footer#footer
      | copyright ©  2023 KadamDanceAcademy.com |  All rights reserved